{% trans_default_domain 'FOSUserBundle' %}
<div id="map" style="visibility: hidden;position:absolute;display: none;">
</div>
<div class="fos_user_user_show">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <a href="/profile/change-password">Modifier mot de passe</a> | <a href="/profile/edit">Modifier compte</a>
      </div>
    </div>
  </div>
</div>
