/web/bundles/
/web/images/reports/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!web/images/reports/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
