html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* DEBUT NAV */
.navbar-default{
  background-color: transparent;
  border:none;
  background-color:#ffffff;
  margin-bottom: 0;
  .navbar-brand{
    padding: 20px;
  }
  .navbar-nav {
    li {
      a {
        padding: 20px;
      }
    }
  }
}

/* FIN NAV */


/* DEBUT GOOGLE MAP */
  #map {
    height: 90%
}

/* FIN GOOGLE MAP */
