{% extends "::base.html.twig" %}

{% block search %}{% endblock %}


{% block body %}

<div id="map" style="visibility: hidden;position:absolute;display: none;">
</div>
<section id="gestion">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <table class="bordered">
          <thead>
            <tr>
              <th>Nom d'utilisateur</th>
              <th>Email</th>
              <th>Roles</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            {% for user in listeUsers %}
            <tr>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{ user.roles|join(', ') }}</td>
              <td><a class="btn-floating waves-effect waves-light" href="{{ path('_edit', {'id':  user.id  }) }}"><i class="material-icons">mode_edit</i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}
